.hvaccontrol{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .ambtemp{
    width: 100%;
  }
  
  .exttemp{
    width: 100%;
  }
  
  .tempcontrol{
    width: 70%;
    margin: 0 auto;
  }
  
  .fanspeed{
    width: 30%;
    margin: 0 auto;
  }
  
  .textSmallHvac{
    color: hsl(0, 0%, 80%);
    font-size: 1.5vmin;
    font-family: Arial;
    margin: 1vh;
    padding-bottom: 1vh;
    writing-mode: horizontal-tb;
  }
  
  .textExtraSmall{
    color: hsl(0, 0%, 80%);
    font-size: 1vmin;
    font-family: Arial;
    writing-mode: horizontal-tb;
  }
  
  .text{
    color: hsl(0, 0%, 85%);
    font-size: 2vmin;
    font-family: Arial;
    margin: 1.5vh;
    font-weight: bold;
    writing-mode: horizontal-tb;
  }
  
  .greencolor{
    background-color: green;
    color: hsl(0, 0%, 80%);
    font-size: 1vmin;
    font-family: Arial;
  }
  .graycolor{
    background-color: grey;
    color: hsl(0, 0%, 80%);
    font-size: 1vmin;
    font-family: Arial;
  }
  
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 3vh;
    height: 3vh;
    background: #4CAF50;
    cursor: pointer;
  }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 2.5vw;
    height: 1.5vw;
  }
  
  .switch input {display:none;}
  
  .sliderc {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 60%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderc:before {
    position: absolute;
    content: "";
    height: 1.3vw;
    width: 1.3vw;
    left: 0.1vw;
    bottom: 0.1vw;
    background-color: hsl(0, 0%, 95%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderc {
    background-color: green;
  }
  
  input:focus + .sliderc {
    box-shadow: 0 0 1vw green;
  }
  
  input:checked + .sliderc:before {
    -webkit-transform: translateX(1.2vw);
    -ms-transform: translateX(1.2vw);
    transform: translateX(1.2vw);
  }
  
  /* Rounded sliders */
  .sliderc.round {
    border-radius: 1.1vw;
  }
  
  .sliderc.round:before {
    border-radius: 50%;
  }
  
  img{
    vertical-align: middle;
    margin: 0 3px;
  }