.firmwarecontrol{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .installed{
    padding: 2vh;
  }
  
  .installing{
    padding: 2vh;
  }
  
  .installingbar{
    width: 100%;
    padding: 2vh;
  }
  
  .myProgress {
    width: 70%;
    background-color: grey;
    margin: 0 auto;
  }
  
  .myBar {
    height: 1.5vh;
    background-color: green;
  }
  
  .textSmallFW{
    color: hsl(0, 0%, 85%);
    font-size: 1.5vmin;
    font-family: Arial;
  }
  
  .text{
    color: hsl(0, 0%, 85%);
    font-size: 2vmin;
    font-family: Arial;
  }
  
  