.stateofchargecontrol{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .textSmallSC{
    color: hsl(0, 0%, 85%);
    font-size: 1.5vmin;
    font-family: Arial;
    font-weight: bold;
  }
  
  .battery:after {
    background-color: #000;
    border: 0.1vmax solid hsl(0, 0%, 85%);
    content: "";
    display: block;
    height: 1.5vh;
    position: absolute;
    right: -0.25vw;
    top: 0.55vh;
    width: 0.2vw;
  }
  .battery {
    background-color: #333333;
    border: 0.1vmax solid hsl(0, 0%, 85%);
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 10vw;
    margin-top: 1vh;
  }
  
  .battery-level-high {
    background-color: green;
    height: 100%;
    color: hsl(0, 0%, 85%);
    font-size: 1.5vmin;
    font-family: Arial;
    font-weight: bold;
    line-height: 1.85;
  }
  .battery-level-medium {
    background-color: hsl(60, 100%, 50%);
    height: 100%;
    color: black;
    font-size: 1.5vmin;
    font-family: Arial;
    font-weight: bold;
    line-height: 1.85;
  }
  .battery-level-low {
    background-color: hsl(0, 100%, 39%);
    height: 100%;
    color: hsl(0, 0%, 85%);
    font-size: 1.5vmin;
    font-family: Arial;
    font-weight: bold;
    line-height: 1.85;
  }
  