.parentgrid{
  background-color: black;
}

.maingrid{
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color:hsl(275, 0%, 15%);
  }
  
  
  .chargefirmgrid{
    display: grid;
    grid: 50% 50% / 1fr;
    width: 36.75vw;
    background-color:hsl(275, 0%, 20%);
    margin: 1vw;
  }
  
  .driverstategrid{
    width: 36.75vw;
    background-color:hsl(275, 0%, 27%);
    margin: 1vw;
  }
  
  .identitygrid{
    width: 20vw;
    background-color:hsl(275, 0%, 20%);
    margin: 1vw;
    height: 95vh;
  }
  
  .bodycontrolsgrid{
    width: 33vw;
    background-color:hsl(275, 0%, 20%);
    margin: 1vw;
  }
  
  .hvacgrid{
    width: 33vw;
    background-color:hsl(275, 0%, 20%);
    margin: 1vw;
  }
  
  .configurationgrid{
    width: 20vw;
    background-color:hsl(275, 0%, 20%);
    margin: 1vw;
  }
  
  .config{
    background-image:url( /assets/images/background/teslaimg2.png );
    background-repeat:no-repeat;
    background-size:cover;
    width: 33vw;
  }
  
  .sidenavgrid{
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color:hsl(275, 0%, 20%);
  }
  
  .sidenavdiv{
    background-color:hsl(275, 0%, 15%);
  }
  
  .buttonsidenav{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 100%; 
    background-color:hsl(275, 0%, 20%);
    border: 0;
    width: 4vw;
  }
  
  .textSmall{
    color: hsl(0, 0%, 80%);
    font-size: 1.5vmin;
    font-family: Arial;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
  }